/* containers */
/* highlight */
/* form fields */
/* buttons */
/* texts */
/* line 1, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.selected-country-code {
  position: absolute;
  font-size: 1.2em;
  top: 1px;
  right: 1px !important;
}
/* line 10, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.selected-country-code a {
  color: #000;
  padding: 0.55556em;
  display: inline-block;
  width: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 22, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.selected-country-code a:focus {
  outline: none;
  background-color: #f6fbff;
}

/* line 29, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.country-code-arrow-container {
  display: inline-block;
  position: relative;
  width: 15px;
}

/* line 35, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.country-code-arrow {
  display: inline-block;
  border: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  top: -7px;
  right: 5px;
}

/* line 48, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.country-codes-container {
  height: 8.88889em;
  width: 30.5em;
  overflow-y: scroll;
  position: absolute;
  display: none;
  top: 40px !important;
  right: -1px !important;
  background: #fff;
  z-index: 200;
  border: 1px solid #5771ff !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 65, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.country-codes-container li {
  font-size: 1em;
  color: #a5a5a5;
  width: 100%;
}
/* line 70, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.country-codes-container a {
  color: #767676;
  padding: 0.27778em 0.55556em;
  display: inline-block;
  width: 100%;
  border-radius: 0;
}
/* line 76, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.country-codes-container a:focus, .country-codes-container a:hover {
  outline: none;
  background-color: #5771ff;
  color: #fff;
}

/* line 85, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.country-code-highlight {
  background-color: #5771ff;
  color: #fff;
}
