/* containers */
/* highlight */
/* form fields */
/* buttons */
/* texts */
/* line 1, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.selected-country-code {
  position: absolute;
  right: 1px;
}
/* line 8, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.selected-country-code > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 19, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.country-code-arrow {
  position: absolute;
  top: -7px;
  right: 5px;
}

/* line 29, ../../scss/country-code-drop-down/_country-code-drop-down.scss */
.country-codes-container {
  width: 30.5em;
  right: -1px;
}
