/* containers */
/* highlight */
/* form fields */
/* buttons */
/* texts */
/* line 1, ../../scss/country-drop-down/_country-drop-down.scss */
.selected-country {
  width: 100%;
}
/* line 3, ../../scss/country-drop-down/_country-drop-down.scss */
.selected-country > a {
  border-radius: 4px;
  border: 1px solid #ececec;
}
/* line 6, ../../scss/country-drop-down/_country-drop-down.scss */
.selected-country > a:focus {
  border: 1px solid #5771ff !important;
}

/* line 12, ../../scss/country-drop-down/_country-drop-down.scss */
.country-arrow-container {
  position: absolute;
  top: 15px;
  left: 5px;
}

/* line 22, ../../scss/country-drop-down/_country-drop-down.scss */
.countries-container {
  width: 100%;
}
