.modern * {
  @include box-sizing('border-box');
}

html {
  height: 100%;
}

body {
  direction: $direction;
  font: 300 $base-font-size + px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;
  color: #343d47;
  height: 100%;
  min-height: 100%;
  min-width: $main_width/$base-font-size+em;
}

.container {
  background: $container_background;
  min-height: 100%;
}

.main {
  min-height: 100%;
  margin: 0 auto;
  width: $main_width/$base_font_size+em;
}

.input-container {
  margin-top: 30/$base_font_size+em;
}

.success-failure-wrapper {
  padding: 108px 0 47px;
}
