.js.modern .clipped {
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  position: absolute;
}

.no-js .clipped {
  margin: 15px 0 5px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #343D47;
}

.clear {
  clear: both;
}

@import "texts";
@import "buttons";
