.clipped {
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  position: absolute;
}

.highlight-border {
  border: $highlight_border;
}

.highlight-background {
  background-color : $highlight_background_color;
}

.clear {
  clear: both;
}

@import "texts";
@import "buttons";
